sample.txt
node_modules
scheduler_app/node_modules
shutdown_app/node_modules
restart_app/node_modules
rcon_app/node_modules
rust_data
rust_data/*
rust_data*
app.yml
*.log
rust_data*
.DS_Store
docker_*.sh
.git/
.git*
.github

