name: Docker Image CI

on:
  push:
    tags: [ "v*" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --target rust-server --file Dockerfile --tag rust-server:$(date +%s) --tag rust-server:latest
